@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: "JetBrains Mono Nerd Font";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/JetBrains/JetBrainsMonoNerdFontMono-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: clip;
  scroll-behavior: smooth;
  width: 100%;
}

.h-screen {
  height: 100vh;
  height: 100dvh;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  scrollbar-width: thin;
}

*::-webkit-scrollbar-thumb {
  background-color: #818cf8;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

* {
  scrollbar-color: #818cf8 rgba(255, 255, 255, 0.1);
}

.loader {
  --width: 5px;

  border: var(--width) solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border-top: var(--width) solid #efefef;
  width: 25px;
  aspect-ratio: 1;
  /* Safari */
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-inline: 1.75rem;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
