@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: "JetBrains Mono Nerd Font";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/JetBrains/JetBrainsMonoNerdFontMono-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: clip;
  scroll-behavior: smooth;
}

.h-screen {
  height: 100vh;
  height: 100dvh;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #818cf8;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.move-up {
  opacity: 0;
  transform: translateY(100px);
  transition: all 750ms ease-in-out;
}

.stop-move-up {
  opacity: 1;
  transform: translateY(0);
}

.fade {
  opacity: 0;
  transition: all 750ms ease-in-out;
}

.stop-fade {
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .move-up {
    transition: none;
  }

  .fade {
    transition: none;
  }
}
