---
import ScreenLayout from "@layouts/Screen.astro";
---

<ScreenLayout title="Page Not Found :/ | Nnisarg Gada">
  <div
    class="flex h-[calc(100vh-5rem)] w-full flex-col items-center justify-center"
  >
    <h1 class="text-5xl font-bold">404</h1>
    <p class="text-2xl">Page not found :/</p>
  </div>
</ScreenLayout>
