---
import ScreenLayout from "@layouts/Screen.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import BlogCard from "@components/BlogCard.astro";
import { getCollection } from "astro:content";

let blogs = await getCollection("blog");
blogs.sort((a, b) => {
  const pubDateA: Date = new Date(a.data.pubDate);
  const pubDateB: Date = new Date(b.data.pubDate);

  // @ts-ignore
  return pubDateB - pubDateA;
});
---

<ScreenLayout title="Blog Posts by Nnisarg Gada">
  <div class="fade flex w-full flex-col gap-6 p-6 md:py-24">
    <Breadcrumbs />
    <h1 class="text-5xl font-bold">Blog Posts</h1>
    <div class="flex flex-col gap-6">
      {blogs.map((blog: any) => !blog.data.draft && <BlogCard blog={blog} />)}
    </div>
  </div>
</ScreenLayout>
