---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Location from "@/components/svgs/Location.astro";
import Email from "@/components/svgs/Email.astro";
import LinkedIn from "@/components/svgs/LinkedIn.astro";
import GitHub from "@/components/svgs/GitHub.astro";

import { socialLinks } from "@/utils";

const description =
  "Get in touch with Nnisarg Gada for collaborations, inquiries, or project discussions. Reach out via the contact form, email, or social media.";
---

<BaseLayout title="Contact | Nnisarg Gada" description={description}>
  <div
    class="flex h-full w-full flex-col gap-6 p-6 md:mx-auto md:w-2/3 md:py-24"
  >
    <h1 class="text-3xl font-bold md:text-4xl">Let's connect</h1>
    <div class="flex w-full flex-col justify-evenly gap-4 rounded-md text-xl">
      <div class="flex w-fit items-center gap-4">
        <Location />
        <h2 class="text-text-light dark:text-text-dark text-lg">
          Mumbai, India
        </h2>
      </div>
      <div
        class="group hover:text-accent flex w-fit items-center gap-4 transition-all duration-300 ease-in-out"
      >
        <Email />
        <h2 class="text-text-light dark:text-text-dark text-lg">
          <a
            class="group-hover:text-accent underline transition-all duration-300 ease-in-out"
            href={`mailto:${socialLinks["Email"]}`}
            title="Email"
            target="_blank">{socialLinks["Email"]}</a
          >
        </h2>
      </div>
      <div
        class="group hover:text-accent flex w-fit items-center gap-4 transition-all duration-300 ease-in-out"
      >
        <LinkedIn />
        <h2 class="text-text-light dark:text-text-dark text-lg">
          <a
            class="group-hover:text-accent underline transition-all duration-300 ease-in-out"
            href="/linkedin"
            title="LinkedIn"
            target="_blank">nnisarggada</a
          >
        </h2>
      </div>
      <div
        class="group hover:text-accent flex w-fit items-center gap-4 transition-all duration-300 ease-in-out"
      >
        <GitHub />
        <h2 class="text-text-light dark:text-text-dark text-lg">
          <a
            class="group-hover:text-accent underline transition-all duration-300 ease-in-out"
            href="/github"
            title="GitHub"
            target="_blank">hect1k</a
          >
        </h2>
      </div>
    </div>
  </div>
</BaseLayout>
