---
import ScreenLayout from "@layouts/Screen.astro";
---

<ScreenLayout title="Contact | Nnisarg Gada">
  <div class="w-full flex flex-col gap-6 p-6 md:py-24 md:w-2/3 md:mx-auto">
    <h1 class="text-5xl font-bold">Let's connect</h1>
    <div class="w-full h-48 flex flex-col justify-evenly p-6 text-xl bg-white bg-opacity-20 rounded-md">
      <div class="flex items-center gap-4">
        <i class="fas fa-location-dot"></i>
        <h2>Mumbai, India</h2>
      </div>
      <div class="flex items-center gap-4">
        <i class="fas fa-envelope"></i>
        <h2><a class="underline" href="mailto:contact@nnisarg.in">contact@nnisarg.in</a></h2>
      </div>
      <div class="flex items-center gap-4">
        <i class="fas fa-phone"></i>
        <h2><a class="underline" href="tel:+919137977812">+91 9137977812</a></h2>
      </div>
    </div>
    <h2 class="text-2xl">Get in touch</h2>
    <form class="w-full flex flex-col gap-6 border-white border-opacity-20 border-solid border-2 px-2 py-6 rounded-md" id="contact-form">
      <input id="name" class="w-full h-12 bg-neutral-900 bg-opacity-0 border-b-2 border-solid border-white border-opacity-20 px-2 focus:outline-none" type="text" name="name" placeholder="Name" required />
      <input id="email" class="w-full h-12 bg-neutral-900 border-b-2 border-solid border-white border-opacity-20 px-2 focus:outline-none" type="email" name="email" placeholder="Email" required />
      <textarea id="message" class="w-full h-20 bg-neutral-900 bg-opacity-0 border-b-2 border-solid border-white border-opacity-20 px-2 focus:outline-none" name="message" placeholder="Message" required></textarea>
      <button class="w-fit place-self-center bg-white bg-opacity-20 px-4 py-2 text-xl font-bold uppercase rounded-md transition-all ease-in-out duration-300 hover:shadow-lg hover:shadow-black hover:-translate-y-1">Send Message</button>
    </form>
  </div>
</ScreenLayout>

<script>
  function sendEmail(e){
    e.preventDefault();
    var Email = { send: function (a) { return new Promise(function (n, e) { a.nocache = Math.floor(1e6 * Math.random() + 1), a.Action = "Send"; var t = JSON.stringify(a); Email.ajaxPost("https://smtpjs.com/v3/smtpjs.aspx?", t, function (e) { n(e) }) }) }, ajaxPost: function (e, n, t) { var a = Email.createCORSRequest("POST", e); a.setRequestHeader("Content-type", "application/x-www-form-urlencoded"), a.onload = function () { var e = a.responseText; null != t && t(e) }, a.send(n) }, ajax: function (e, n) { var t = Email.createCORSRequest("GET", e); t.onload = function () { var e = t.responseText; null != n && n(e) }, t.send() }, createCORSRequest: function (e, n) { var t = new XMLHttpRequest; return "withCredentials" in t ? t.open(e, n, !0) : "undefined" != typeof XDomainRequest ? (t = new XDomainRequest).open(e, n) : t = null, t } };

    const name = document.getElementById("name");
    const email = document.getElementById("email");
    const message = document.getElementById("message");

    Email.send({
      SecureToken : "cf15c49c-e8b1-498c-9587-568af83473b2",
      To : "gadannisarg@gmail.com",
      From : "gadannisarg@gmail.com",
      Subject : "New Message from " + name.value,
      Body : "Name: " + name.value + 
              "<br><br>Email: " + email.value +
              "<br><br>Message:" + message.value
    }).then(
      message => alert("Message Sent!")
    );
  }

  document.getElementById("contact-form").addEventListener("submit", sendEmail);
</script>

</script>
