---
import ScreenLayout from "@layouts/Screen.astro";
import Github from "@components/svgs/Github.astro";
import Linkedin from "@components/svgs/LinkedIn.astro";
import Twitter from "@components/svgs/X.astro";
import Dev from "@components/svgs/Dev.astro";
import Medium from "@components/svgs/Medium.astro";
import Instagram from "@components/svgs/Instagram.astro";
---

<ScreenLayout>
  <section
    class="fade w-full h-full min-h-[calc(100vh-5rem)] grid place-items-center p-6"
  >
    <div class="w-full md:w-2/3 flex flex-col gap-8 md:gap-16">
      <div class="flex flex-col md:gap-2">
        <p class="text-xl">Hi there <span id="wave">👋</span></p>
        <h1 class="text-5xl font-bold">
          I'm <a
            href="https://github.com/nnisarggada"
            class="text-rose-400 hover:underline hover:tracking-wide transition-all ease-in-out duration-300"
            >Nnisarg
          </a>
        </h1>
      </div>
      <div class="flex flex-col gap-4 md:gap-6 text-lg md:text-xl lg:text-2xl">
        <p>
          I'm a Computer Engineering student, developer, Linux user, open-source
          enthusiast and an existentialist :P
        </p>
        <p>
          I enjoy developing websites, but you can catch me working on other
          projects as well.
        </p>
        <p>
          My last project was <a
            class="text-accent font-bold hover:underline"
            href="https://short.nnisarg.in"
            target="_blank">ZenLink</a
          > - a simple URL shortener
        </p>
        <p>
          Checkout my other <a
            class="text-accent font-bold hover:underline"
            href="/projects">projects here</a
          > or read my <a
            class="text-accent font-bold hover:underline"
            href="/blog">blog here</a
          >
        </p>
      </div>
      <div class="flex flex-col gap-2 md:gap-4">
        <h2 class="text-3xl font-bold">My Socials</h2>
        <div
          class="iw-full flex flex-wrap items-center gap-6 text-3xl text-accent p-2 pl-0"
        >
          <a
            href="https://github.com/nnisarggada"
            target="_blank"
            class="transition-all ease-in-out duration-300 hover:-translate-y-1 hover:scale-105"
            ><Github /></a
          >
          <a
            href="https://www.linkedin.com/in/nnisarggada/"
            target="_blank"
            class="transition-all ease-in-out duration-300 hover:-translate-y-1 hover:scale-105"
            ><Linkedin /></a
          >
          <a
            href="https://twitter.com/gadannisarg"
            target="_blank"
            class="transition-all ease-in-out duration-300 hover:-translate-y-1 hover:scale-105"
            ><Twitter /></a
          >
          <a
            href="https://dev.to/nnisarggada"
            target="_blank"
            class="transition-all ease-in-out duration-300 hover:-translate-y-1 hover:scale-105"
            ><Dev /></a
          >
          <a
            href="https://medium.com/@gadannisarg"
            target="_blank"
            class="transition-all ease-in-out duration-300 hover:-translate-y-1 hover:scale-105"
            ><Medium /></a
          >
          <a
            href="https://www.instagram.com/nnisarg.in/"
            target="_blank"
            class="transition-all ease-in-out duration-300 hover:-translate-y-1 hover:scale-105"
            ><Instagram /></a
          >
        </div>
      </div>
    </div>
  </section>
</ScreenLayout>

<style>
  #wave {
    animation: wave 2.5s linear infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>
