---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Github from "@/components/svgs/GitHub.astro";
import Linkedin from "@/components/svgs/LinkedIn.astro";
import Youtube from "@/components/svgs/Youtube.astro";
import X from "@/components/svgs/X.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import BlogCard from "@/components/BlogCard.astro";

import { projects, socialLinks } from "@/utils";
const recentProjects = projects.slice(0, 3);

import { getCollection } from "astro:content";
let blogs = await getCollection("blog");
blogs.sort((a: any, b: any) => {
  const pubDateA: Date = new Date(a.data.pubDate);
  const pubDateB: Date = new Date(b.data.pubDate);

  // @ts-ignore
  return pubDateB - pubDateA;
});
blogs = blogs.slice(0, 3);
---

<BaseLayout>
  <section
    class="grid h-full min-h-[calc(100vh-5rem)] w-full place-items-center p-6 md:p-12 lg:p-24"
  >
    <div class="flex w-full flex-col gap-16 md:gap-20">
      <div class="flex w-full flex-col gap-8 md:gap-10 lg:gap-12">
        <div class="flex flex-col gap-2 md:gap-4">
          <p class="text-base md:text-xl">
            Hi there <span id="wave">👋</span>
          </p>
          <h1 class="text-4xl font-bold md:text-5xl">
            I'm <a
              href="/github"
              target="_blank"
              title="aka hect1k"
              class="hover:text-accent/80 text-accent font-bold underline transition-all duration-300 ease-in-out"
              >Nnisarg
            </a>
          </h1>
        </div>
        <div class="flex flex-col gap-4 text-base md:text-lg lg:text-xl">
          <p>
            I'm a Computer Engineering student, developer, GNU/Linux user,
            open-source enthusiast and an existentialist :P
          </p>
          <p>
            I embrace <i class="text-primary font-semibold italic"
              >"less code, less bloat, more freedom"</i
            > — crafting fast, scalable websites while exploring diverse <a
              href="/projects"
              title="View My Projects"
              class="text-primary font-medium underline focus-visible:underline"
              >projects</a
            > and penning my journey in my <a
              href="/blog"
              title="View My Blog"
              class="text-primary font-medium underline focus-visible:underline"
              >blog</a
            > along the way.
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-2 md:gap-4">
        <h2 class="text-2xl font-bold md:text-3xl">My Socials</h2>
        <div
          class="text-primary flex w-full flex-wrap items-center gap-6 p-2 pl-0 text-3xl"
        >
          <a
            href="/github"
            target="_blank"
            title="View Github Profile"
            class="transition-all duration-300 ease-in-out hover:-translate-y-1 hover:scale-105"
            ><Github /></a
          >
          <a
            href="/linkedin"
            target="_blank"
            title="View LinkedIn Profile"
            class="transition-all duration-300 ease-in-out hover:-translate-y-1 hover:scale-105"
            ><Linkedin /></a
          >
          <a
            href="/youtube"
            target="_blank"
            title="View Youtube Channel"
            class="transition-all duration-300 ease-in-out hover:-translate-y-1 hover:scale-105"
            ><Youtube /></a
          >
          <a
            href="/x"
            target="_blank"
            title="View X.com Profile"
            class="transition-all duration-300 ease-in-out hover:-translate-y-1 hover:scale-105"
            ><X /></a
          >
        </div>
      </div>
      <div id="newsletter" class="flex scroll-m-24 flex-col gap-2 md:gap-4">
        <h2 class="text-2xl font-bold md:text-3xl">Newsletter</h2>
        <div
          class="flex w-full flex-col items-center justify-center gap-6 rounded drop-shadow-sm md:flex-row"
        >
          <p class="text-base md:w-1/2 md:text-lg lg:text-xl">
            Get exclusive emails about interesting things in the Tech World, and
            my thoughts on them!
          </p>
          <form
            action="https://news.nnisarg.in/subscribe"
            method="POST"
            id="newsletter-form"
            class="flex w-full flex-col items-stretch gap-4 md:w-1/2 md:flex-row md:gap-2 md:text-base lg:text-lg"
          >
            <input
              type="email"
              name="email"
              placeholder="Email"
              required
              class="bg-text/10 w-full rounded p-2 focus:outline-none"
            />

            <!--Honeypot-->
            <input
              type="text"
              name="hp_field"
              id="hp_field"
              style="position: absolute; left: -9999px; opacity: 0;"
              aria-hidden="true"
              tabindex="-1"
            />

            <button
              title="Subscribe"
              type="submit"
              class="bg-primary text-background dark:text-text hover:bg-primary focus-visible:bg-primary w-full rounded px-4 py-2 font-semibold transition-all duration-300 ease-in-out hover:scale-105 hover:cursor-pointer hover:drop-shadow-xl focus-visible:scale-105 focus-visible:drop-shadow-xl md:w-fit"
              >Subscribe</button
            >
          </form>
        </div>
      </div>
      <div class="flex flex-col gap-4 md:gap-8">
        <div class="flex w-full flex-wrap items-end justify-between gap-2">
          <h2 class="text-2xl font-bold md:text-3xl">Recent Projects</h2>
          <a
            href="/projects"
            title="View All Projects"
            class="text-primary font-medium underline"
          >
            View All</a
          >
        </div>
        <div class="flex flex-col gap-6">
          {recentProjects.map((project) => <ProjectCard project={project} />)}
        </div>
      </div>
      <div class="flex flex-col gap-4 md:gap-8">
        <div class="flex w-full flex-wrap items-end justify-between gap-2">
          <h2 class="text-2xl font-bold md:text-3xl">Recent Blog Posts</h2>
          <a
            href="/blog"
            title="View All Blog Posts"
            class="text-primary font-medium underline"
          >
            View All</a
          >
        </div>
        <div class="flex flex-col gap-6">
          {
            blogs.map(
              (blog: any) => !blog.data.draft && <BlogCard blog={blog} />,
            )
          }
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  #wave {
    animation: wave 2.5s linear infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>
