---
import ScreenLayout from "@layouts/Screen.astro";
import Github from "@components/svgs/Github.astro";
import Linkedin from "@components/svgs/LinkedIn.astro";
import X from "@components/svgs/X.astro";
import Dev from "@components/svgs/Dev.astro";
import Medium from "@components/svgs/Medium.astro";
import ProjectCard from "@components/ProjectCard.astro";
import BlogCard from "@components/BlogCard.astro";

import { projects } from "@utils";
const recentProjects = projects.slice(0, 3);

import { getCollection } from "astro:content";
let blogs = await getCollection("blog");
blogs.sort((a, b) => {
  const pubDateA: Date = new Date(a.data.pubDate);
  const pubDateB: Date = new Date(b.data.pubDate);

  // @ts-ignore
  return pubDateB - pubDateA;
});
blogs = blogs.slice(0, 3);
---

<ScreenLayout>
  <section
    class="fade grid h-full min-h-[calc(100vh-5rem)] w-full place-items-center p-6 md:p-12 lg:p-24"
  >
    <div class="flex w-full flex-col gap-16 md:gap-20">
      <div class="flex w-full flex-col gap-8 md:gap-10 lg:gap-12">
        <div class="flex flex-col gap-2 md:gap-4">
          <p class="text-xl">Hi there <span id="wave">👋</span></p>
          <h1 class="text-5xl font-bold">
            I'm <a
              id="avatar-trigger"
              href="https://github.com/nnisarggada"
              target="_blank"
              title="View Github Profile"
              class="text-orange-500 underline"
              >Nnisarg
            </a>
          </h1>
        </div>
        <div
          class="flex flex-col gap-4 text-lg md:gap-6 md:text-xl lg:text-2xl"
        >
          <p>
            I'm a Computer Engineering student, developer, Linux user,
            open-source enthusiast and an existentialist :P
          </p>
          <p>
            I enjoy developing websites, but you can catch me working on other
            projects as well.
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-2 md:gap-4">
        <h2 class="text-3xl font-bold">My Socials</h2>
        <div
          class="iw-full flex flex-wrap items-center gap-6 p-2 pl-0 text-3xl text-accent"
        >
          <a
            href="https://github.com/nnisarggada"
            target="_blank"
            title="View Github Profile"
            class="transition-all duration-300 ease-in-out hover:-translate-y-1 hover:scale-105"
            ><Github /></a
          >
          <a
            href="https://www.linkedin.com/in/nnisarggada/"
            target="_blank"
            title="View LinkedIn Profile"
            class="transition-all duration-300 ease-in-out hover:-translate-y-1 hover:scale-105"
            ><Linkedin /></a
          >
          <a
            href="https://x.com/gadannisarg"
            target="_blank"
            title="View X Profile"
            class="transition-all duration-300 ease-in-out hover:-translate-y-1 hover:scale-105"
            ><X /></a
          >
          <a
            href="https://dev.to/nnisarggada"
            target="_blank"
            title="View Dev.to Profile"
            class="transition-all duration-300 ease-in-out hover:-translate-y-1 hover:scale-105"
            ><Dev /></a
          >
          <a
            href="https://medium.com/@gadannisarg"
            title="View Medium Profile"
            target="_blank"
            class="transition-all duration-300 ease-in-out hover:-translate-y-1 hover:scale-105"
            ><Medium /></a
          >
        </div>
      </div>
      <div class="flex flex-col gap-4 md:gap-8">
        <div class="flex w-full flex-wrap items-end justify-between gap-2">
          <h2 class="text-3xl font-bold">Recent Projects</h2>
          <a href="/projects" title="View All Projects" class="underline">
            View All</a
          >
        </div>
        <div class="flex flex-col gap-6">
          {recentProjects.map((project) => <ProjectCard project={project} />)}
        </div>
      </div>
      <div class="flex flex-col gap-4 md:gap-8">
        <div class="flex w-full flex-wrap items-end justify-between gap-2">
          <h2 class="text-3xl font-bold">Recent Blog Posts</h2>
          <a href="/blog" title="View All Blog Posts" class="underline">
            View All</a
          >
        </div>
        <div class="flex flex-col gap-6">
          {
            blogs.map(
              (blog: any) => !blog.data.draft && <BlogCard blog={blog} />,
            )
          }
        </div>
      </div>
    </div>
  </section>

  <style>
    #wave {
      animation: wave 2.5s linear infinite;
      transform-origin: 70% 70%;
      display: inline-block;
    }

    @keyframes wave {
      0% {
        transform: rotate(0deg);
      }
      10% {
        transform: rotate(14deg);
      }
      20% {
        transform: rotate(-8deg);
      }
      30% {
        transform: rotate(14deg);
      }
      40% {
        transform: rotate(-4deg);
      }
      50% {
        transform: rotate(10deg);
      }
      60% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  </style>
</ScreenLayout>
