---
import ScreenLayout from "@layouts/Screen.astro";
---

<ScreenLayout title="Nnisarg Gada | Student Developer">
  <div class="w-full h-full flex flex-col gap-12 md:gap-16 p-6 md:py-24 md:w-2/3 md:mx-auto">
    <h1 class="text-5xl font-bold">Hi there 👋</h1>
    <div class="flex flex-col gap-4 md:gap-10">
      <h2 class="text-3xl font-bold">I'm <a class="text-accent" href="https://github.com/nnisarggada">Nnisarg </a></h2>
      <p class="text-xl">I'm a Computer Engineering student, developer, Linux user, open-source enthusiast and an existentialist :P</p>
      <p class="text-xl">I enjoy developing websites, but you can catch me working on other projects as well.</p>
      <p class="text-xl">My last project was <a class="underline text-accent" href="https://share.nnisarg.in" target="_blank">SWFT</a> - a simple temporary file sharing solution</p>
      <p class="text-xl">Checkout my other <a class="underline text-accent" href="/projects">projects here</a> or read my <a class="underline text-accent" href="/blogs">blogs here</a></p>
    </div>
    <div class="flex flex-col gap-2 md:gap-6">
      <h2 class="text-3xl font-bold">My Socials</h2>
      <div class="w-full flex items-center gap-6 text-3xl text-accent p-2">
        <a href="https://github.com/nnisarggada" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/nnisarggada/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/_u/iamnnisarg/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://dev.to/nnisarggada" target="_blank"><i class="fab fa-dev"></i></a>
        <a href="https://www.youtube.com/@nnisarggada" target="_blank" onclick="return (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/iPhone|iPad|iPod/i)) ? window.location.href='youtube://www.youtube.com/@nnisarggada' : true;"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</ScreenLayout>
