---
import Base from "@layouts/Base.astro";
---

<Base title="Test | Nnisarg Gada">
  <div
    class="fade flex h-full min-h-[calc(100vh-5rem)] w-full flex-col items-center justify-center p-6 md:p-12 lg:p-24"
  >
    <a id="link" href="/" class="text-3xl font-bold">location</a>
  </div>
</Base>

<script>
  const link = document.getElementById("link") as HTMLAnchorElement;

  navigator.geolocation.getCurrentPosition((position) => {
    const { latitude, longitude } = position.coords;
    link.href = `https://maps.google.com/?q=${latitude},${longitude}`;
    link.innerText = `${latitude},${longitude}`;
  });
</script>
