---
import { socialLinks } from "@utils";
---

<!doctype html>
<html>
  <head>
    <title>Nnisarg's X</title>
    <meta http-equiv="refresh" content={`0;url=${socialLinks["X"]}`} />
  </head>
  <body>
    <p>Redirecting to X...</p>
    <p>
      If you are not redirected, <a href={socialLinks["X"]}>click here</a>.
    </p>
  </body>
</html>
