---
import { Image } from "astro:assets";
---

<div
  id="avatar"
  class="pointer-events-none absolute inset-0 z-20 hidden aspect-square w-48 rounded-full bg-orange-500 opacity-0 shadow-lg shadow-black transition-all lg:block"
>
  <Image
    src="/images/profile-pic.png"
    alt="Nnisarg Gada"
    width={400}
    height={400}
    format="webp"
    class="aspect-square w-[150%] rounded-full object-cover"
  />
</div>

<script>
  const avatar = document.getElementById("avatar");
  const trigger = document.getElementById("avatar-trigger");

  trigger?.addEventListener("mouseover", () => {
    (avatar as HTMLDivElement).style.opacity = "1";
  });

  trigger?.addEventListener("mouseout", () => {
    (avatar as HTMLDivElement).style.opacity = "0";
  });

  window.addEventListener("mousemove", (e) => {
    const x = e.clientX;
    const y = e.clientY;

    const keyframes = {
      transform: `translate(${x}px, ${y}px)`,
    };

    avatar?.animate(keyframes, {
      duration: 800,
      fill: "forwards",
    });
  });
</script>
