---
const pages = Astro.props.pages;
---

<div class="w-full truncate flex items-center text-lg">
  {
    pages.map((page: string, i: number) => {
      return (
        <div>
          {i != pages.length - 1 && (
            <a
              href={`/${pages.slice(0, i + 1).join("/")}`}
              class="text-accent hover:underline"
            >
              {page}
            </a>
            <span class="font-mono mx-2"></span>
          )}
          {i == pages.length - 1 && <span>{page}</span>}
        </div>
      );
    })
  }
</div>
