---
import Rss from "@components/svgs/Rss.astro";
---

<footer
  class="w-full flex items-center justify-between bg-neutral-950 bg-opacity-50 backdrop-blur-md shadow-md shadow-black text-md p-6 md:py-6 md:px-6 lg:px-36"
>
  <h1>
    Made with <span class="text-rose-500">❤</span> by <a
      href="https://nnisarg.in"
      class="text-accent hover:underline">nnisarg</a
    >
  </h1>
  <a href="/rss.xml" class="flex items-center gap-2 hover:underline"
    ><span class="text-orange-500"><Rss /></span><span class="hidden md:block"
      >Subscribe to RSS Feed</span
    ></a
  >
</footer>
