---
import Rss from "@components/svgs/Rss.astro";
---

<footer
  class="text-md flex w-full flex-col items-center justify-between gap-8 bg-neutral-950 bg-opacity-50 p-6 shadow-md shadow-black backdrop-blur-md md:flex-row md:px-6 md:py-6 lg:px-36"
>
  <h1>
    Made with <span class="text-rose-500">❤</span> by <a
      href="https://nnisarg.in"
      class="text-accent hover:underline">nnisarg</a
    >
  </h1>
  <div
    class="flex flex-col items-center justify-center gap-4 md:flex-row md:gap-8 lg:gap-12"
  >
    <a
      href="/rss.xml"
      title="Subscribe to my RSS Feed"
      class="flex items-center gap-2 hover:underline"
    >
      <span class="text-orange-500"><Rss /></span>
      <span class="md:block">Subscribe to RSS Feed</span>
    </a>
    <a
      href="https://buymeacoffee.com/nnisarggada"
      target="_blank"
      title="Support me"
      class="flex items-center gap-2 hover:underline"
    >
      <span class="text-orange-500">
        <img
          src="/images/coffee.png"
          alt="Buy me a coffee"
          class="aspect-square w-6"
          loading="lazy"
          decoding="async"
        />
      </span>
      <span class="">Support me</span>
    </a>
  </div>
</footer>
