<section
  id="loader"
  class="absolute inset-0 z-30 flex h-screen w-screen items-center justify-center bg-neutral-950"
>
  <div class="spinner"></div>
</section>

<style>
  .spinner {
    --width: 15px;

    border: var(--width) solid rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    border-top: var(--width) solid #818cf8;
    width: 100px;
    aspect-ratio: 1;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
</style>
