---
import Bars from "@components/svgs/Bars.astro";
import Close from "@components/svgs/Close.astro";
const currentPath = Astro.url.pathname;
const pages = [
  {
    name: "Home",
    link: "/",
  },
  {
    name: "Projects",
    link: "/projects",
  },
  {
    name: "Blog",
    link: "/blog",
  },
  {
    name: "Contact",
    link: "/contact",
  },
  {
    name: "Résumé",
    link: "/resume.pdf",
  },
];
---

<div
  id="menu"
  class="hidden fixed top-20 z-20 w-screen h-screen flex flex-col items-center justify-start text-2xl gap-4 bg-neutral-950 bg-opacity-80 backdrop-blur-md shadow-md shadow-black p-6"
>
  {
    pages.map((page) => (
      <a
        class={`h-20 flex items-center justify-center font-bold uppercase rounded p-2 py-1 transition-all ease-in-out duration-300 ${page.link == currentPath || page.link + "/" == currentPath ? "text-accent font-bold underline hover:scale-110 hover:font-bold bg-opacity-0" : "w-full bg-opacity-20"} ${page.name === "Résumé" ? "bg-accent bg-opacity-80" : "bg-white"}`}
        href={page.link}
      >
        {page.name}
      </a>
    ))
  }
</div>
<nav
  class="fixed top-0 z-10 w-screen h-20 flex gap-4 justify-between items-center bg-neutral-950 bg-opacity-80 backdrop-blur-md shadow-md shadow-black text-white text-md md:text-xl p-6 md:py-4 md:px-6 lg:px-36"
>
  <h1
    class="text-2xl lg:text-3xl font-bold transition-all ease-in-out duration-300 hover:underline hover:text-rose-400"
  >
    <a href="/">Nnisarg Gada.</a>
  </h1>
  <div id="menu-open" class="cursor-pointer md:hidden"><Bars /></div>
  <div id="menu-close" class="hidden cursor-pointer md:hidden"><Close /></div>
  <div class="hidden md:flex items-center gap-2 lg:gap-6">
    {
      pages.map((page) => (
        <a
          class={`rounded h-fit p-2 py-1 transition-all ease-in-out duration-300 ${page.link == currentPath || page.link + "/" == currentPath ? "text-accent font-bold underline hover:scale-110 hover:font-bold" : ""} ${page.name == "Résumé" ? "glow bg-white bg-opacity-20 text-xl uppercase tracking-widest font-bold hover:scale-105 hover:bg-accent p-4 py-2" : "hover:underline"}`}
          href={page.link}
        >
          {page.name}
        </a>
      ))
    }
  </div>
</nav>

<style>
  .glow:hover {
    --color: rgb(129 140 248);
    box-shadow: 0 0 25px -5px var(--color);
  }
</style>

<script>
  const menu = document.getElementById("menu");
  const open_button = document.getElementById("menu-open");
  const close_button = document.getElementById("menu-close");
  const nav = document.querySelector("nav");

  function toggleMenu() {
    if (!menu || !open_button || !close_button || !nav) return;
    if (menu.classList.contains("hidden")) {
      menu.classList.remove("hidden");
      open_button.classList.add("hidden");
      close_button.classList.remove("hidden");
      nav.classList.remove("shadow-md");
      nav.classList.remove("shadow-black");
      document.body.classList.add("overflow-y-hidden");
    } else {
      menu.classList.add("hidden");
      open_button.classList.remove("hidden");
      close_button.classList.add("hidden");
      nav.classList.add("shadow-md");
      nav.classList.add("shadow-black");
      document.body.classList.remove("overflow-y-hidden");
    }
  }

  if (open_button && close_button) {
    open_button.addEventListener("click", toggleMenu);
    close_button.addEventListener("click", toggleMenu);
  }
</script>
