<div></div>
<div
  id="newsletter-error"
  class="fixed -bottom-full left-1/2 z-50 flex w-full max-w-sm -translate-x-1/2 flex-col gap-4 rounded-md bg-rose-500 p-4 transition-all duration-700 ease-in-out"
>
  <h1 class="font-bold">Error!</h1>
  <p id="newsletter-error-text" class="font-medium">Something went wrong :/</p>
</div>
