---
interface Props {
  title: string;
}

const { title } = Astro.props;

import Nav from "@components/Nav.astro";
import { ViewTransitions } from "astro:transitions";

---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="https://kit.fontawesome.com/0b92670209.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <ViewTransitions />
  </head>
  <body class="w-screen h-screen bg-neutral-900 text-white overflow-x-hidden">
    <Nav />
    <slot />
  </body>
</html>
