---
import ScreenLayout from "@layouts/Screen.astro";
import { formatDate, calculateReadingTime } from "@utils";
const { title, pubDate } = Astro.props.frontmatter;

---
<ScreenLayout title={`${title} | Blog by Nnisarg Gada`}>
  <div class="w-full p-6 md:py-24 mx-auto prose md:prose-lg">
    <h1 class="text-5xl font-bold">{title}</h1>
    <p><span class="font-bold">{formatDate(pubDate)}</span> • <span class="italic">{calculateReadingTime(Astro.props.rawContent())} min read</span></p>
    <slot />
  </div>
</ScreenLayout>
