---
import BaseLayout from "@layouts/Base.astro";
const { title } = Astro.props;
---

<BaseLayout title={title || "Nnisarg Gada | Student Developer"}>
  <div class="mx-auto min-h-[100dvh] w-full max-w-7xl pt-20">
    <slot />
  </div>
</BaseLayout>
