---
import BaseLayout from "@layouts/Base.astro";

import { metaData } from "@utils";
const title = Astro.props.title || metaData.title;
const description = Astro.props.description || metaData.description;
const image = Astro.props.image || metaData.image;
---

<BaseLayout title={title} description={description} image={image}>
  <div class="mx-auto min-h-[100dvh] w-full max-w-7xl pt-20">
    <slot />
  </div>
</BaseLayout>
