---
import BaseLayout from "@layouts/Base.astro";
const { title } = Astro.props;
---

<BaseLayout title={title}>
  <div class="w-full max-w-5xl mx-auto min-h-[100dvh] pt-20">
    <slot />
  </div>
</BaseLayout>
